---
- name: Test Graphiant Ansible Collection
  hosts: localhost
  gather_facts: false
  vars:
    # graphiant_host: "https://api.graphiant.com"
    # graphiant_username: "{{ vault_graphiant_username }}"
    # graphiant_password: "{{ vault_graphiant_password }}"

    # Use YAML anchors to avoid repetition
    graphiant_client_params: &graphiant_client_params
      host: "{{ graphiant_host | default(lookup('env', 'GRAPHIANT_HOST')) }}"
      username: "{{ graphiant_username | default(lookup('env', 'GRAPHIANT_USERNAME')) }}"
      password: "{{ graphiant_password | default(lookup('env', 'GRAPHIANT_PASSWORD')) }}"
      # host: "{{ graphiant_host | default(lookup('ini', 'url file=/absolute/path/credentials.ini section=host')) }}"
      # username: "{{ graphiant_username | default(lookup('ini', 'username file=/absolute/path/credentials.ini section=credentials')) }}"
      # password: "{{ graphiant_password | default(lookup('ini', 'password file=/absolute/path/credentials.ini section=credentials')) }}"

  tasks:
    - name: Test global prefix sets configuration (check mode)
      graphiant.naas.graphiant_global_config:
        <<: *graphiant_client_params
        config_file: "sample_global_prefix_lists.yaml"
        operation: "configure"
        detailed_logs: true
        state: present
      check_mode: true
      tags: ['test', 'global_config']
      register: test_result_check_mode

    - name: Display test result
      ansible.builtin.debug:
        msg: "{{ test_result_check_mode }}"

    - name: Test BGP peering configuration (check mode)
      graphiant.naas.graphiant_bgp:
        <<: *graphiant_client_params
        bgp_config_file: "sample_bgp_peering.yaml"
        operation: "configure"
        detailed_logs: true
        state: present
      check_mode: true
      tags: ['test', 'bgp']
      register: test_result_check_mode

    - name: Display test result
      ansible.builtin.debug:
        msg: "{{ test_result_check_mode }}"

    - name: Test interface configuration (check mode)
      graphiant.naas.graphiant_interfaces:
        <<: *graphiant_client_params
        interface_config_file: "sample_interface_config.yaml"
        circuit_config_file: "sample_circuit_config.yaml"
        operation: "configure_interfaces"
        detailed_logs: true
        state: present
      check_mode: true
      tags: ['test', 'interfaces']
      register: test_result_check_mode

    - name: Display test result
      ansible.builtin.debug:
        msg: "{{ test_result_check_mode }}"

    - name: Test site attachments (check mode)
      graphiant.naas.graphiant_sites:
        <<: *graphiant_client_params
        site_config_file: "sample_site_attachments.yaml"
        operation: "attach_objects"
        detailed_logs: true
        state: present
      check_mode: true
      tags: ['test', 'sites']
      register: test_result_check_mode

    - name: Display test result
      ansible.builtin.debug:
        msg: "{{ test_result_check_mode }}"
